@import url("reset.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; }

body {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  font-family: "Microsoft YaHei";
  font-size: 0.20rem; }

html, body, .wrap {
  color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll; }

.wrap {
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.header {
  -webkit-flex-shrink: 0;
  height: 0.74rem;
  line-height: 0.74rem;
  position: relative; }
  .header a {
    position: absolute;
    width: 0.26rem;
    height: 0.26rem;
    background: url(../images/s_01_01.gif) no-repeat;
    background-size: 100% 100%;
    top: 50%;
    margin-top: -0.13rem;
    right: 0.28rem; }
  .header h1 {
    font-size: 0.25rem;
    color: #3d2935;
    text-align: center;
    font-weight: normal; }

.main {
  -webkit-flex-grow: 1;
  overflow: hidden;
  background: #f1f1f1; }
  .main .swiper-container {
    height: 2.63rem;
    width: 100%; }
    .main .swiper-container img {
      width: 100%;
      height: 100%; }
  .main .dls {
    background: #fff;
    height: 1.15rem;
    display: -webkit-flex; }
    .main .dls a {
      margin-top: 0.06rem;
      -webkit-flex-grow: 1; }
    .main .dls dl {
      text-align: center; }
      .main .dls dl img {
        width: 0.8rem;
        height: 0.73rem; }
      .main .dls dl dd {
        font-size: 0.16rem;
        color: #000; }
  .main .hort {
    margin-top: 0.15rem;
    background: #fff;
    height: 2.68rem;
    display: -webkit-flex;
    padding-left: 0.22rem;
    -webkit-flex-direction: column; }
    .main .hort h2 {
      height: 0.62rem;
      line-height: 0.62rem;
      position: relative;
      padding-left: 0.5rem;
      font-size: 0.21rem;
      color: #371a52; }
      .main .hort h2 span {
        width: 0.27rem;
        height: 0.27rem;
        background: url(../images/s_01_10_03.gif) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.135rem; }
    .main .hort .h_dls {
      -webkit-flex-grow: 1;
      display: -webkit-flex;
      overflow-x: scroll; }
      .main .hort .h_dls a {
        -webkit-flex-grow: 1;
        margin: 0 0.06rem; }
        .main .hort .h_dls a:nth-last {
          margin-right: 0; }
        .main .hort .h_dls a:nth-of-type(1) {
          margin-left: 0; }
      .main .hort .h_dls dt {
        width: 2.16rem;
        height: 1.44rem; }
        .main .hort .h_dls dt img {
          width: 100%;
          height: 100%; }
      .main .hort .h_dls dd {
        color: #000; }
  .main .zg {
    background: #fff;
    margin-top: 0.15rem; }
    .main .zg .tab {
      margin-bottom: 0.2rem;
      height: 0.63rem;
      display: -webkit-flex;
      line-height: 0.63rem;
      border-bottom: 1px solid #ccc; }
      .main .zg .tab span {
        -webkit-flex-grow: 1;
        text-align: center;
        margin: 0 0.3rem;
        font-size: 0.21rem;
        color: #482b61; }
      .main .zg .tab .tab_active {
        border-bottom: 2px solid #482b61; }
    .main .zg .zg_dls {
      width: 100%;
      height: auto; }
      .main .zg .zg_dls dt {
        height: 2.4rem; }
        .main .zg .zg_dls dt img {
          width: 100%;
          height: 100%; }
      .main .zg .zg_dls dd {
        padding-top: 0.1rem;
        height: 0.91rem;
        padding-left: 0.2rem; }
        .main .zg .zg_dls dd p {
          font-size: 0.16rem;
          height: 0.36rem;
          line-height: 0.36rem; }
        .main .zg .zg_dls dd p:nth-of-type(1) a {
          border: 1px solid #482b61;
          padding: 0.02rem 0.1rem;
          margin: 0 0.05rem;
          border-radius: 0.5rem;
          color: #482b61; }
        .main .zg .zg_dls dd p:nth-of-type(1) a:nth-of-type(1) {
          border: 1px solid #f4a6ce;
          color: #f4a6ce; }
        .main .zg .zg_dls dd p:nth-of-type(2) {
          width: 100%;
          position: relative;
          padding-left: 0.22rem; }
          .main .zg .zg_dls dd p:nth-of-type(2) a {
            position: absolute;
            width: 0.14rem;
            height: 0.18rem;
            background: url(../images/s_01_12_03.gif) no-repeat;
            background-size: 100% 100%;
            top: 0.07rem;
            left: 0; }

.footer {
  -webkit-flex-shrink: 0;
  height: 0.74rem;
  background: red; }
